.combo-table {
  width: 50%;
  height: 50%;
  border: 1px solid darkgrey;
  border-collapse: collapse;
}

.combo-table-row-list {
  padding-right: 100px;
  border: 1px solid lightgray;
}

.combo-table-row-price {
  border: 1px solid lightgray;
}

.combo-table-row-price {
  text-align: center;
}

.combo-table-header {
  background: lightgray;
  text-decoration: underline;
  font-weight: 700;
  padding: 10px 10px 10px 10px;
}

.combo-table-row:nth-child(even) {
  background: #EEEEEE;
}