body {
  font-family: sans;
}

#page_container {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 800px) {
  #page_container {
    width: 800px;
  }
}

#description {
  color: gray;
}

[hidden] { display: none !important; }

#search_bar {
  display: flex;
}

#multi_select {
  flex-grow: 1;
}